.keypad {
  display: flex;
  flex-direction: column;
  // gap: 50px;
  margin: 40px 0;
  background-color: $t-one-keypad-bg;
  .row {
    display: grid;
    gap: 20px;
    padding: 20px;
    button {
      padding: 5px 20px;
      cursor: pointer;
    }
  }
  .row.four {
    grid-template-columns: repeat(4, 1fr);
  }
  .row.two {
    grid-template-columns: repeat(2, 1fr);
  }
}
