.keypad {
  display: flex;
  flex-direction: column;
  margin: 40px 0;

  border-radius: 20px;
  .row {
    display: grid;
    gap: 20px;
    padding: 10px;
  }
  .row.four {
    grid-template-columns: repeat(4, 1fr);
  }
  .row.two {
    grid-template-columns: repeat(2, 1fr);
  }
}
